/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 14px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


img {
    max-width: 100%;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    min-height: 10px;
    line-height: 20px;
    background-color: #255EE9;
}

/* THE BUG */
/*  padding: 5px 20px; */

/* align-items: center;
    justify-content: center;
    text-align: center;
    è bastato mettere MARGIN 0 AUTO che ha centrato tutto*/
.logo-hed,
.button-hed {
    width: 20%;
}

.menu-hed ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

ul {
    list-style-type: none;
}

.menu-hed {
    flex-grow: 1;
    line-height: 30px;
}



header .container>* {
    border: 2px ;
    /* THE BUG */
    /* solid darkblue */
}


/* .nav .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; */
/* è bastato mettere MARGIN 0 AUTO che ha centrato tutto */

/* display: flex;
    background-color: #DAA520; */
/* THE BUG */
/* width: 70%;
    text-align: center; */


header>.logo-hed>.link-nav>.login-nav {
    /* border-style: dotted; */
    font-size: 5px;
    padding: 5px;

}

.logo-nav,
.login-nav {
    /* THE BUG */
    width: 50px;
    /* FINE THE BUG */
    border-style: dotted;
}

.link-nav {
    border-style: dotted;
    /* THE BUG */
    /* width: 200px; */
}

.wht,
li>a {
    color: inherit;
    text-decoration: none;
    color: white;
}

.button-hed {
    text-align: right;

}

.bt-hed {
    background-color: white;
    color: #255EE9;
    /* border-radius: 5px;
    padding: 3px; */
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* THE BUG */
    /* min-height: 10px; */
    /* dashed black */
    border: 2px ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10px;
}

/* padding: 50px 0;--> NEL CASO NON AVESSI MESSO MIN-HEIGHT */

.flex-container {
    display: flex;
}

/* AND HEADER */

/* HERO O JUMPTRON*/
.hero {
    background-image: url(../img/jumbo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 200px 20px 10px 20px;
    min-width: 200px;

}

.hr-nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    /* THE BUG */
    /* min-height: 100px; */
    width: 50%;
    /* margin: 100px 20px 0 20px; */
}

h1{
    font-size: 2.5em;
}

h1,
.p-nav {
    color: white;
    margin-bottom: 20px;
}

.b-herwht, .b-sfblack{
    /* color: inherit; */
    text-decoration: none;
    margin-top: 3px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}


.b-sfblack{
    background-color: black;
    color: white;
}
.b-herwht{
    background-color: white;
    color: black;
    
}
/* .container-pinkk {
    
    width: 50%;
    min-height: 100px;
    margin: 600px 40px;
} */

/* FINE CANTAINER ROSA */

/* <!-- CONTAINER A 2 BLOCCHI SFONDO BIANCO +BLU --> */


.wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
    padding: 20px 20px;
}

.container-pink {
    width: 40%;
    min-height: 100px;
    /* THE BUG */
    /* background-color: #FFC0CB;     */
    /* border-style: dotted; */
}

.container-blue {
    min-height: 100px;
    width: 60%;
    /* THE BUG */
    /* background-color: #ADD8E6;     */
    /* border-style: dotted; */
}
h2{
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 3px;
}
.centre-green{
    padding-top: 20px;
    font-size: 2.5em;
}
/* IMMAGINE GRANDE SOTTO */
.centre{
    text-align: center;
}
.centre-pg{
    padding: 0 200px;
}
p{
    font-size: 1.2em;
    margin-left: 3px;
}

/* <!-- CONTAINER A 2 BLOCCHI SFONDO GRIGIO --> */

.blockrgray {
    display: flex;
    align-items: center;
    justify-content: center;
    /* THE BUG */
    min-height: 200px;
    /* THE BUG */
    background-color: #F6F6F6;
}

.revs {
    flex-direction: row-reverse;
}

/* <!-- CONTENITORE VERDE CON SFONDO GRIGIO --> */

/* .wrappergray{
    display: flex;
    align-items: center;
    justify-content: center; */
/* THE BUG */
/* height: 100px; */
/* } */
.wrapper-gray {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-green {
    /* THE BUG */
    width: 80%;
    min-height: 150px;
    text-align: center;
    /* background-color: #196607; */
    /* padding-bottom: 100px; */
    
}
/* display: flex;
    flex-direction: column; */
    section .centre{
        text-align: center;
        
    }

.stars{
    background-image: url(../img/stars.svg);
    display: inline-block;
    padding: 16px 50px 0;
    background-size: 100%;
    margin:30px 0;
}

.bt-mac{
    background-color:#8096DE ;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
.bt-mac a{
    text-decoration: none;
    color: white;
}

/* FOOTER  TOP*/
.footer-top,
.footer-bottom {
    background-color: black;
    padding: 5px 0;
    margin-bottom: 2px;
}

.f-top{
    padding: 20px 230px;
}

.f-pink {
    width: 40%;
    /* background-color: #FFC0CB; */
    min-height: 100px;
    border-style: dotted;
    margin-top: 5px;
}

.f-blu {
    width: 15%;
    /* background-color: #ADD8E6; */
    min-height: 100px;
    border-style: dotted;
    margin-top: 5px;
    /* gap: 1px; ??*/
}

/* FOOTER  BOTTOM*/
.lightgreen {
    /* background-color: aquamarine; */
    width: 100%;
    justify-content: space-between;
    padding: 10px 220px;
}

.img-ita{
    height: 12px;  
    
}

.fa-brands{
    margin: 5px 5px 0 0;
    color: white;
}
.p-ita {
    color: white;
    
}

.color-lil{
    color: #8096DE;
}

.bold{
    font-weight: bold;
}


.f-logo,
.f-buttom {
    width: 20%;
    /* FINE THE BUG */
    border-style: dotted;
    /* background-color: #FFC0CB; */
    margin: 5px 12px 5px 12px ;
}

.f-buttom,
.f-right{
    text-align: right;
}
h4{
    color: #8096DE;
    font-size: 2em;
}
.li-f{
    margin-bottom: 10px;
}